* {
  box-sizing: border-box;
  :focus {
    outline: none;
  }
}

#hidden {
  display: none;
}

body {
  background-color: #fff;
  font-family: Helvetica;
}

// LOGIN FORM //
div.login-form {
  display: inline-block;
  position: relative;
  width: 200px;
  height: 200px;
  padding: 15px 25px 0 15px;
  margin-top: 15px;
  cursor: default;
  background-color: #141517;
  border-radius: 5px;
  box-shadow: 0px 1px 1px 0px rgba(255, 255, 255, .2), inset 0px 1px 1px 0px rgb(0,0,0);
  h1, span, input, label {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
  }
  h1 {
    line-height: 40px;
    font-family: 'Myriad Pro', sans-serif;
    font-size: 22px;
    font-weight: normal;
    color: #e4e4e4;
  }
  input[type=text], input[type=password], input[type=submit] {
    line-height: 14px;
    margin: 10px 0;
    padding: 5px 15px;
    border: 0;
    outline: none;
    font-family: Helvetica, sans-serif;
    font-size: 12px;
    font-weight: bold;
    text-shadow: 0px 1px 1px rgba(255,255,255, .2);
    border-radius: 26px;
    transition: all .15s ease-in-out;
  }
  input[type="text"], input[type="password"], .js span {
    color: #686868;
    width: 170px;
    background: #989898;
    box-shadow: inset 1px 1px 1px 0px rgba(255,255,255, .6);
    background: linear-gradient(top, #fff 0% #989898 100%);
  }
  input[type="text"]:hover, input[type="password"]:hover {
    box-shadow: inset 1px 1px 1px 0px rgba(255,255,255, .6), 0px 0px 5px rgba(255,255,255, .5);
  }
  input[type="text"]:focus, input[type="password"]:focus {
    background: #e1e1e1;
    background: linear-gradient(top, #ffffff 0%, #e1e1e1 100%);
  }
  input[type="submit"] {
    float: right;
    cursor: pointer;
    color: #445b0f;
    box-shadow: inset 1px 1px 1px 0px #fff;
  }
  input[type="submit"]:hover {
    box-shadow: inset 1px 1px 3px 0px #fff;
  }
  input[type="submit"]:active {
    box-shadow: none;
  }
  input[type="submit"] {
    background: #a5cd4e;
    background: linear-gradient(top, #a5cd4e 0%, #6b8f1a 100%);
  }
  label {
    font-family: sans-serif;
    font-weight: bold;
    font-size: 12px;
    color: #e4e4e4;
  }
}

header {
  width: 100%;
  margin: 0 auto;
  h1 {
    text-align: center;
  }
}

aside {
  display: inline-block;
  width: 20%;
  background-color: #ccc;
  height: 600px;
}

section {
  display: inline-block;
  margin-left: -5px;
  vertical-align: top;
  width: 80%;
  h3 {
    margin: 0;
    text-align: center;
    font-size: 46px;
    padding: 0;
    text-shadow: 0px 0px 10px #bbb;
    border-bottom: 1px solid #eee;
    padding-bottom: 10px;
  }
}

input.enter-msg {
  width: 100%;
  font-size: 16px;
  padding: 10px 0 10px 10px;
  border-radius: 6px;
  border: 2px solid #eee;
  font-weight: 300;
}

div.main-container {
  width: 78%;
  margin: 0 auto;
  display: inline-block;
  vertical-align: top;
}

div.post-msg-container {
  width: 100%;
  :hover {
    background-color: #eee;
    cursor: pointer;
  }
  h4 {
    display: inline-block;
    margin: 0;
    padding: 10px 0 0 10px;
  }
  button.delete-chat {
    position: absolute;
    top: 10px;
    left: 600px;
  }
}

div.post-msg-wrapper {
  position: relative;
  p {
    margin: 0;
    padding: 3px 0 10px 10px;
    font-weight: 300;
  }
  span.time {
      color: #aaa;
      font-size: 15px;
      padding-left: 10px;
  }
}

div.enter-msg-container {
    margin-top: 10px;
    margin-left: 10px;
}




// h3 {
//   text-align: left;
// }
