body {
  background-color: lightblue;
}

header {
  width: 100%;
  margin: 0 auto;
  h1 {
    text-align: center;
    text-transform: uppercase;
  }
}

div.main-container {
  width: 90%;
  margin: 0 auto;
}

div.post-msg-container {
  width: 100%;
  margin: 0 auto;
}

// h3 {
//   text-align: left;
// }
